* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;

  /* colors */
  --primary-red: #ee3e41;
  --primary-white: #ffffff;
  --primay-black: #231f1e;

  --supporting-orange: #bd2a2a;
  --supporting-charcoal: #364259;
  --supporting-blue: #8ca1bc; 
  --supporting-gray: #8a8c8f;
  --supporting-light-gray: #F0F1F2;

  /* font-sizes */
  --fs-900: 4rem;
  --fs-800: 2rem;
  --fs-700: 1.5rem;
  --fs-600: 1rem;
  --fs-500: 0.9rem;
  --fs-400: 0.875rem;
  --fs-300: 0.75rem;
  --fs-200: 0.5rem;

  /* font-families */
  --ff-primary: 'Montserrat', sans-serif;
  --ff-secondary: "Ubuntu", sans-serif;
  --ff-tertiary: "Oswald", sans-serif;

}

/* Tablet  */
@media (min-width: 35em) {
  * {
    --fs-900: 4rem;
    --fs-800: 3rem;
    --fs-700: 2rem;
    --fs-600: 1.5rem;
    --fs-500: 1.2rem;
    --fs-400: 1rem;
    --fs-300: 0.75rem;
    --fs-200: 0.5rem;
  }
}


/* Desktop  */
@media (min-width: 45em) {
  * {
    --fs-900: 6rem;
    --fs-800: 3.5rem;
    --fs-700: 3rem;
    --fs-600: 2.5rem;
    --fs-500: 2rem;
    --fs-400: 1.5rem;
    --fs-300: 1rem;
    --fs-200: 0.5rem;
  }
}

/* font-sizes */
.fs-900 {font-size: var(--fs-900);}
.fs-800 {font-size: var(--fs-800);}
.fs-700 {font-size: var(--fs-700);}
.fs-600 {font-size: var(--fs-600);}
.fs-500 {font-size: var(--fs-500);}
.fs-400 {font-size: var(--fs-400);}
.fs-300 {font-size: var(--fs-300);}
.fs-200 {font-size: var(--fs-200);}

/* Font Families */
.primary-ff {
  font-family: var(--ff-primary);
}

.secondary-ff {
  font-family: var(--ff-secondary);
}

.tertiary-ff {
  font-family: var(--ff-tertiary);
}


/* Colors */
.primary-red {
  background-color: var(--primary-red);
}

.secondary-red {
  background-color: var(--secondary-red);
}

.tertiary-red {
  background-color: var(--tertiary-red);
}

.primary-gray {
  background-color: var(--primary-gray);
}

.secondary-gray {
  background-color: var(--secondary-gray);
}

.tertiary-gray {
  background-color: var(--tertiary-gray);
}



.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
  grid-template-columns: repeat(var(--columns, 2), 1fr);
}

/* Margin */
.m-5 {
  margin: 5px;
}

.m-10 {
  margin: 10px;
}

/* Default styles */

div {
  text-align: center;
}

h1 {
  font-size: var(--fs-800);
  font-family: var(--ff-primary);
}

h2 {
  font-size: var(--fs-600);
  font-family: var(--ff-primary);
}


/* Containers */
.main-body {
  min-height: calc(100vh - 246px - 150px);
}

.section {
  min-height: 200px;
  margin: 150px;
}

.section > div {
  margin: auto;
}

.info-container {
  background-color: var(--supporting-blue);
  width: 50vw;
  min-height: 200px;
  padding: 1px;
}