.navbar {
    background-color: var(--primary-red);
    height: 246px;
    width: 100%;
    z-index: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.nav-top {
    display: flex;
    flex-direction: row;
}


.nav-top h1 {
    text-decoration: none;
    text-align: center;
    color: white;
    width: 100%;
    margin: auto;
    font-family: var(--ff-primary);
    font-size: var(--fs-900);
    padding-top: 0.2em;
}

.nav-links {
    margin: auto;
    height: 123px;
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--primary-white);
}

.nav-links h2 {
    font-size: var(--fs-500);
}

.logo {
    position: absolute;
    width: 217px;
    left: 38px;
    top: 40px;
}

.lock-logo {
    position: absolute;
    height: 88px;
    right: 58px;
    top: 55px;
    
}


