.award-container {
    width: 80%;
    max-width: 1500px;
    margin: 50px auto 150px auto;
}

.award-container > h2 {
    font-weight: 800;
    font-size: var(--fs-800);
    margin-bottom: 10px;
}

.award-info-container {
    display: flex;
    flex-direction: row;
}

.award-info {
    width: 50%;
    white-space: pre-wrap;
    display: flex;
    flex-direction: column;
}

.award-info > * {
    height: 50%;
    margin: 5px;
}

.award-info h2 {
    padding-top: 50px;
    font-size: var(--fs-800);
    text-align: left;
}

.award-info h4 {
    font-size: var(--fs-600);
    font-weight: 400;
}

.award-names-and-img {
    width: 50%;
    height: 100%;
    margin: auto;
}

.award-names-and-img h2 {
    font-weight: 800;
}

.award-names-and-img img {
    width: 50%;
}

