.about-banner {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 50px;
    background-color: var(--primary-red);
    color: var(--primary-white);
}

.about-info-container {
    min-height: 150px;
    padding: 25px;
    background-color: var(--supporting-light-gray);
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-info-container > ol{
    font-size: var(--fs-400);
    font-weight: 500;
    padding-left: 20px;
    text-align: left;
}

.about-img-container {
    margin: auto;
    max-width: 1200px;
    height: 370px;
    background: var(--primary-red);

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 15px;
}

.about-img-container > img {
    aspect-ratio: 1;
    padding: 10px;
}