.trivia-center-div{
    margin: auto;
    width: min(100%, 60em);
    padding: 1em;
}

.trivia-content-div {
    margin: auto;
    width: min(95%, 85em);
    margin-bottom: 3em;
    padding: 1.5em;
}

.ClubInfo-sub-div{
    /* background-color: var(--tertiary-gray); */
    margin-top: 10%;
    padding-bottom: 0.5em;
}

.ClubInfo-header {
    color: var(--primary-red);
}

.ClubInfo-content {
    margin-right: 0em;
    font-size: 1.5em;
}

.ClubInfo-img {
    width: min(75%, 40em);
    border-radius: 0.25em;
}