.leadership-content-div{
    padding: 1em;
    margin: auto;
    width: min(90%, 50em);
    border-bottom: 4px ridge red;
    display: flex;
}

.leadership-tertiary-div{
    float: right;
    display: grid;
    padding-right: min(100%, 0.1em);
}

.leadership-img{
    margin: auto;
    display: flex;
    float: left;
    border-radius: 00.5em;
    width: min(45%, 25em);
}

.leadership-name{
    margin: auto;
    color: var(--primary-red);
    font-family: var(--ff-primary);
    text-decoration: underline;
}

.leadership-title{
    margin: auto;
    padding: 0.25em;
    font-family: var(--ff-secondary);
    font-size: 1.75em;
}

.leadership-goals{
    font-family: var(--ff-tertiary);
    font-size: 30px;
}

.leadership-date{
    font-family: var(--ff-secondary);
    padding-top: 0.75em;
}

.leadership-email{
    
}