.leadership-content-div{
    padding: 0.5em;
    margin: auto;
    margin-top: 1em;
    width: min(90%, 75em);
    background-color: var(--secondary-gray);
    border-radius: 0.5em;
    height: 300px;
}

.leadership-img{
    margin: 0.5em;
    display: flex;
    float: left;
    border-radius: 00.5em;
    width: 200px;
}

.leadership-name{
    margin: auto;
    color: var(--primary-red);
    font-family: var(--ff-primary);
    text-decoration: underline;
}

.leadership-title{
    margin: auto;
    padding: 0.25em;
    font-family: var(--ff-secondary);
}

.leadership-goals{
    font-family: var(--ff-tertiary);
    font-size: 30px;
}

.leadership-date{
    font-family: var(--ff-secondary);
    padding-top: 0.75em;
}

.leadership-email{
    
}