.contact {
    max-width: 1000px;
    margin: 20px auto;
}

.contact img {
    height: 350px;
    width: 250px;
}

.contact h2 {
    text-align: left;
    padding-top: 25px;
    font-size: var(--fs-700);
}

.contact h3 {
    text-align: left;
    font-size: var(--fs-400);
}