.member-body {
    max-width: 1500px;
    margin: auto;
}

.member-heading-1 {
    margin: 40px auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.member-heading-1 h1 {
    text-align: left;
    font-weight: 900;
    font-size: var(--fs-900);
}

.member-heading-1 img {
    margin-left: 50px;
}

.member-heading-2 {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.member-heading-2 h2 {
    text-align: left;
    font-weight: 600;
    font-size: var(--fs-800);
}

.member-heading-2 img {
    border-radius: 0px;
    margin-left: 50px;
}

.member-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 40px auto;
}

.member-section h3 {
    text-align: left;
    font-weight: 400;
    font-size: var(--fs-600);
    padding-left: 20px;
    max-width: 50%;
}

.member-section img {
    max-width: 50%;
}