.membership-generalInfo-div{
    display: grid;
    padding-bottom: 5em;
    border-bottom: 5px dotted red;
    margin: auto;
    width: min(85%, 60em);
}

.membership-div{
    margin: 1em;
}

.main-title{
    margin-bottom: 0.5em;
    font-size: 90px;
}

.membership-content{
    font-size: 2em;
    font-weight: 100px;
}

.membership-header{
    text-decoration: 4px underline red;
    font-size: 2.5em;
}

/*        More about being a member          */

.membership-reasons-div{
    /* background-color: grey; */
    margin-bottom: 2em;
}

.membership-subject-header{
    margin-top: 2em;
    font-size: 3em;
}

.membership-image{
    margin-top: 0.25em;
    width: min(80%, 35em);
    border-radius: 0.5em;
}