.teams-secondary-div{
    margin-bottom: 7em;
    /* background-color: lightblue; */
    display: inline-grid;
}

.teams-tertiary-div{
    /* background-color: grey; */
    margin: auto;
    border-bottom-style: ridge;
    border-width: 0.25em;
    border-color: var(--primary-red);
    padding-bottom: 0.25em;
    width: 30em;
    display: flex;
}

.teams-header{
    margin-top: 0.25em;
    font-size: 3em;
}

.teams-content{
    margin: auto;
    font-size: 1.5em;
}